.text-container {
    border: 0.3rem solid hsl(0, 0%, 0%);
    padding: 2rem;

}

.title {
    font-family: Inter;
    font-weight: 900;
    font-size: 2.5rem;
}

.body-text {
    text-align: left;
    margin-top: 1rem;
    font-family: Inter;
    font-weight: normal;
    font-size: 1.25rem;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: underline;
}

.credit a {
    font-family: Inter;
    font-weight: 700;
    color: #0000EE;
}

.credit :hover, .body-text :hover{
    text-decoration-thickness: 0.1rem;

}

footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    margin-bottom: 15px;
}